{% extends "base.html" %}
{% block title %} Malfunctions {% endblock %}

{% block content %}
    {#    {% for malfunction in malfunctions %}#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Add Malfunction</h3>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="{{ form.name.id_for_label }}">What kind of fault have you found?</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.location.id_for_label }}">Location</label>
                                {{ form.location }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.explanation.id_for_label }}">More details</label>
                                {{ form.explanation }}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>



    {#    {% endfor %}#}

{% endblock %}